@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap");
:root {
  /* Primary colors */
  --primary-gradient-start: hsl(249, 99%, 64%);
  --primary-gradient-end: hsl(278, 94%, 30%);
  --primary-red: hsl(0, 100%, 66%);
  /* Neutral colors */
  --white: hsl(0, 0%, 100%);
  --light-grayish-violet: hsl(270, 3%, 87%);
  --dark-grayish-violet: hsl(279, 6%, 55%);
  --very-dark-violet: hsl(278, 68%, 11%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  font-family: "Space Grotesk", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

/* Reset default styles */
.container {
  width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    gap: 24rem;
    align-items: center;
}


.cards {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 24px;
background-image: url(../images/bg-main-desktop.png);
background-repeat: no-repeat;
background-size: cover;
height: 100%;

}
  
  .card_back{
   height: 250px;
    width: 440px; /* Adjust maximum width as needed */
    background-image: url('images/bg-card-back.png');
    background-size: cover;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transform: translateX(60%);
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    padding-right: 16px;
  }
  .front-card {
   height: 250px;
    width: 440px; /* Adjust maximum width as needed */
    background-image: url('https://ericcst197.github.io/interactive-card-details-form/images/bg-card-front.png');
    background-size: cover;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-right: auto;
    transform: translateX(20%);
  }
  
  .card-content {
    padding: 20px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
    gap: 32px;/* Text color on top of the background image */
  }
  
  .card-logo {
    width: 50px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.7); /* Adjust background color for logo */
    border-radius: 5px;
  }
  
  .card-number {
    font-size: 18px;
    margin-top: 20px;
  }
  
  .card-info {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .card-name,
  .card-expiration {
    font-size: 14px;
  }
  
  /* Responsive styles */
  @media only screen and (max-width: 600px) {
    .container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: center;
    }
    
    
    .cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    background-image: url(images/bg-main-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    transform: translateX(0);

    }
      
      .card_back{
        z-index: 1;
        height: 250px;
        width:420px; /* Adjust maximum width as needed */
        background-image: url('images/bg-card-back.png');
        background-size: cover;
        border-radius: 15px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        padding-right: 16px;
        transform: translateY(-50%);

      }
      .front-card {
        z-index: 2;
        height: 250px;
        width:420px; /* Adjust maximum width as needed */
        background-image: url('https://ericcst197.github.io/interactive-card-details-form/images/bg-card-front.png');
        background-size: cover;
        border-radius: 15px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        overflow: hidden;
       

      }
      
      .card-content {
        padding: 20px;
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: space-around; 
        gap: 32px;/* Text color on top of the background image */
      }
      
      .card-logo {
        width: 50px;
        height: 30px;
        background-color: rgba(255, 255, 255, 0.7); /* Adjust background color for logo */
        border-radius: 5px;
      }
      
      .card-number {
        font-size: 18px;
        margin-top: 20px;
      }
      
      .card-info {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
      }
      
      .card-name,
      .card-expiration {
        font-size: 14px;
      }
      
  }
  



  











































































.payment-form {
}

.payment-form form {
  padding: 20px;
}

.input-group {
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  font-family: "Space Grotesk", sans-serif;
  color: var(--very-dark-violet);
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
}

input::-moz-placeholder {
  color: var(--light-grayish-violet);
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.2rem;
}

input::placeholder {
  color: var(--light-grayish-violet);
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.2rem;
}

.input-group input {
  width: 100%;
  padding: 16px;
  border: 1px solid var(--light-grayish-violet);
  border-radius: 5px;
  font-size: 16px;
}

.expiry-date-cvc-group {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.mmyy {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.expiry-date-cvc-group .input-group {
  width: 48%;
}

.expiry-date-cvc-group .input-group .mmyy {
  display: flex;
  justify-content: space-between;
}

.expiry-date-cvc-group .input-group .exp input {
  width: 45%;
}

button[type=submit] {
  display: block;
  width: 100%;
  padding: 24px;
  background-color: var(--very-dark-violet);
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

button[type=submit]:hover {
  background-color: var(--primary-gradient-end);
}

/* Attribution */
.attribution {
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
}

.attribution a {
  color: #333;
  text-decoration: none;
}

.attribution a:hover {
  text-decoration: underline;
}



.errorlabel {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  color: red;
}

.disabled-button {
  cursor: crosshair;
}












