@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap");
:root {
  /* Primary colors */
  --primary-gradient-start: hsl(249, 99%, 64%);
  --primary-gradient-end: hsl(278, 94%, 30%);
  --primary-red: hsl(0, 100%, 66%);
  /* Neutral colors */
  --white: hsl(0, 0%, 100%);
  --light-grayish-violet: hsl(270, 3%, 87%);
  --dark-grayish-violet: hsl(279, 6%, 55%);
  --very-dark-violet: hsl(278, 68%, 11%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  font-family: "Space Grotesk", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

/* Reset default styles */
.container {
  width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    gap: 258px;
    align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 48px;
  height: 100%;
  background-image: url(images/bg-main-desktop.png);
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;

}

.front-card {

  transform: translate(25%, 10%);
  background-image: url(images/bg-card-front.png);
  justify-content: space-between;
  max-width: 28rem;
  height: 16rem;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  padding: 1.5rem 1.8rem;
  color: white;
}
.log img {

width: 72px;
  
}
.card__info{
display: flex;
flex-direction: column;
gap: 24px;
width: 100%;


}
.name_exp{
display: flex;
flex-direction: row;
align-items: center;
width: 100%;
justify-content: space-between;
}
#nameholder {


}
#card-number {
font-size: 1.8rem;


}
.exp{


  display: flex;
  flex-direction: row;
}


.back-card {

  transform: translate(45%, 10%);
  background-image: url(images/bg-card-back.png);
  width: 28rem;
  height: 16rem;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  padding: 1rem 3rem 2rem 1rem;
  align-items: flex-end;
 justify-content: center;

}
.cvnumber {

}

















































































.payment-form {
}

.payment-form form {
  padding: 20px;
}

.input-group {
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  font-family: "Space Grotesk", sans-serif;
  color: var(--very-dark-violet);
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
}

input::-moz-placeholder {
  color: var(--light-grayish-violet);
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.2rem;
}

input::placeholder {
  color: var(--light-grayish-violet);
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.2rem;
}

.input-group input {
  width: 100%;
  padding: 16px;
  border: 1px solid var(--light-grayish-violet);
  border-radius: 5px;
  font-size: 16px;
}

.expiry-date-cvc-group {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.mmyy {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.expiry-date-cvc-group .input-group {
  width: 48%;
}

.expiry-date-cvc-group .input-group .mmyy {
  display: flex;
  justify-content: space-between;
}

.expiry-date-cvc-group .input-group .exp input {
  width: 45%;
}

button[type=submit] {
  display: block;
  width: 100%;
  padding: 24px;
  background-color: var(--very-dark-violet);
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

button[type=submit]:hover {
  background-color: var(--primary-gradient-end);
}

/* Attribution */
.attribution {
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
}

.attribution a {
  color: #333;
  text-decoration: none;
}

.attribution a:hover {
  text-decoration: underline;
}



.errorlabel {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  color: red;
}

.disabled-button {
  cursor: crosshair;
}



@media only screen and (max-width: 1024px) {


  body {
    height: 100vh;
    width: 100%;
    font-family: "Space Grotesk", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 18px;
  }
  
  /* Reset default styles */
  .container {
    width: 100%;
      height: 100vh;
      display: flex;
      flex-direction: column;
      gap: 48px;
      align-items: center;
      justify-content: center;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    gap: 48px;
    height: 100%;
    background-image: url(images/bg-main-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    width: 100%;
    z-index: -9999;
   
  
  }
  
  .front-card {
    z-index: 2;

    transform: translate(25%, 80%);
    background-image: url(images/bg-card-front.png);
    justify-content: space-between;
    max-width: 28rem;
    height: 16rem;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
    padding: 1.5rem 1.8rem;
    color: white;
  }
  .log img {
  
  width: 72px;
    
  }
  .card__info{
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  
  
  }
  .name_exp{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  }
  #nameholder {
  
  
  }
  #card-number {
  font-size: 1.8rem;
  
  
  }
  .exp{
  
  
    display: flex;
    flex-direction: row;
  }
  
  
  .back-card {
  z-index: -1;
    transform: translate(0%, -90%);
    background-image: url(images/bg-card-back.png);
    width: 28rem;
    height: 16rem;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
    padding: 1rem 3rem 2rem 1rem;
    align-items: flex-end;
   justify-content: center;
  
  }
  .cvnumber {
  
  }
  








}
